{% extends "base.html" %}
{% block extrahead %}
<link rel="icon" />
<!-- <link href="https://cdn.jsdelivr.net/npm/@fontsource/mononoki@5.1.0/index.min.css" rel="stylesheet" /> -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ayahub/webfont-harmony-sans-sc@1.0.0/css/index.min.css" /> -->
<meta name="google-site-verification" content="NvUUayoQeinWwhfzr5F4l8GwYRcaynTAYkT52mM9TjA" />
{% endblock extrahead %}
{% block content %}
{% if page.meta.addi %}
<a href="{{ page.meta.addi }}" title="下载资源" class="md-content__button md-icon">
    {% include ".icons/material/file-download-outline.svg" %}
</a>
{% endif %}
{{ super() }}
{% endblock content %}
