{% extends "base.html" %}
{% block extrahead %}
<link rel="icon" />
<!-- 提前建立连接, 加速字体/静态资源加载 -->
<link rel="preconnect" href="https://fontsapi.zeoseven.com" crossorigin />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="preconnect" href="https://unpkg.com" />
<link rel="preconnect" href="https://cdn.ricolxwz.cn" />
<!-- 通过 link 加载字体, 替代 CSS @import(不阻塞渲染且可并行) -->
<link rel="stylesheet" href="https://fontsapi.zeoseven.com/442/main/result.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" />
<meta name="google-site-verification" content="NvUUayoQeinWwhfzr5F4l8GwYRcaynTAYkT52mM9TjA" />
{% endblock extrahead %}
{% block content %}
{% if page.meta.addi %}
<a href="{{ page.meta.addi }}" title="下载资源" class="md-content__button md-icon">
    {% include ".icons/material/file-download-outline.svg" %}
</a>
{% endif %}
{{ super() }}
{% endblock content %}