@import url("https://fontsapi.zeoseven.com/442/main/result.css");

#logo_light_mode,
#logo_dark_mode {
  height: 1.3rem;
  width: 1.3rem;
}

#logo_dark_mode {
    display: var(--md-footer-logo-light-mode);
    height: 24px;
}

#logo_light_mode {
    display: var(--md-footer-logo-dark-mode);
    height: 24px;
}

/* 设置主题颜色 */
[data-md-color-scheme="default"] {
    --md-footer-logo-dark-mode: none;
    --md-footer-logo-light-mode: block;
    --md-footer-bg-color: white;
    --md-footer-bg-color--dark: white;
    --md-footer-fg-color: var(--md-typeset-color);
    --md-default-fg-color--lightest: white;
    --md-footer-fg-color--light: rgba(18, 19, 23, 0.6);
    --md-footer-border-color: rgba(0, 0, 0, 0.1);
    --md-top-custom: rgba(256, 256, 256, 0.2);
    --md-banner-color: rgba(18, 19, 23, 0.6);
}

[data-md-color-scheme="slate"] {
    --md-footer-logo-dark-mode: block;
    --md-footer-logo-light-mode: none;
    --md-primary-color-dark: rgba(18, 19, 23, 0.6);
    --md-primary-fg-color: var(--md-primary-color-dark);
    --md-header-bg-color: var(--md-primary-color-dark);
    --md-footer-bg-color: var(--md-primary-color-dark);
    --md-footer-bg-color--dark: var(--md-primary-color-dark);
    --md-default-fg-color--lightest: var(--md-primary-color-dark);
    --md-default-bg-color: rgba(18, 19, 23, 1);
    --md-footer-border-color: rgba(256, 256, 256, 0.2);
    --md-shadow-z2: 0 0.2rem 0.5rem #000, 0 0 0.05rem #ffffff40;
    --md-top-custom: rgba(18, 19, 23, 0.6);
    --md-banner-color: var(--md-typeset-color);
}

/* 设置页脚和返回按钮主题 */
.md-top {
    backdrop-filter: blur(20px);
    background-color: var(--md-top-custom);
    box-shadow: unset;
}

.md-footer {
    border-top: 1px solid var(--md-footer-border-color);
}

/* 设置横幅主题 */
.md-banner .twemoji-custom {
    border-radius: unset !important;
    box-shadow: unset !important;
    transition: unset !important;
}

.md-banner .twemoji {
    border-radius: 100%;
    box-shadow: inset 0 0 0 0.05rem currentcolor;
    display: inline-block;
    height: 1.2rem;
    padding: 0.25rem;
    transition: all 0.25s;
    vertical-align: bottom;
    width: 1.2rem;
}

.md-banner {
    background-color: var(--md-primary-fg-color);
    color: var(--md-banner-color);
}

/* 设置header和tab样式 */
[data-md-color-primary="black"] .md-header {
    background-color: var(--md-header-bg-color);
}

.md-header {
    box-shadow: none;
    transition: none;
    backdrop-filter: blur(20px);
    background-color: var(--md-header-bg-color);
}

.md-tabs {
    box-shadow: none;
    transition: none;
    backdrop-filter: blur(20px);
    background-color: var(--md-header-bg-color);
}

.md-tabs {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* 设置katex样式 */
.katex {
    font-size: 1em;
    font-family: "KaTeX_Main", "KaTeX_Math", "KaTeX_AMS", "KaTeX_Caligraphic", "KaTeX_Fraktur", "KaTeX_SansSerif", "KaTeX_Script", "KaTeX_Typewriter", "Maple Mono NF CN" !important;
}

.katex-display {
    margin: -0.5em;
}

/* 设置全局字体 */
@font-face {
    font-family: "zsft-443";
    src: url("https://fontsapi.zeoseven.com/443/main.woff2") format('woff2'),
        url("https://fontsapi-storage.zeoseven.com/443/main.woff2") format('woff2');
    font-display: swap;
}

:root {
    /* --md-code-font: "mononoki", "HarmonyOS Sans SC"; */
    /* --md-text-font: "mononoki", "HarmonyOS Sans SC"; */
    --md-code-font: "zsft-443", "Maple Mono NF CN";
    --md-text-font: "zsft-443", "Maple Mono NF CN";
}

/* 解决sidebar始终显示滚动条问题 */
.md-sidebar__scrollwrap {
    overflow-y: auto;
    scrollbar-width: none;
}

.md-sidebar__scrollwrap:hover,
.md-sidebar__scrollwrap:focus-within {
    overflow-y: auto;
    scrollbar-width: thin;
    /* scrollbar-color: var(--md-default-fg-color--lighter); */
}

.md-sidebar__scrollwrap::-webkit-scrollbar {
    width: 0px;
    /* 默认没有滚动条 */
}

/* 解决行间公式框的边框圆角问题, 并修改媒体响应策略使得44.9844em下不会自动缩小 */
.highlight {
    background-color: var(--md-code-bg-color);
    border-radius: 0.5rem !important;
}

.highlight>.filename {
    background-color: transparent !important;
}

.highlight code {
    background-color: transparent !important;
}

@media screen and (max-width: 44.9844em) {
    .md-content__inner>.highlight {
        margin: unset;
    }
}

/* 解决公式有滑动窗口问题 */
.md-typeset div.arithmatex {
    overflow: hidden;
}

@media screen and (max-width: 44.9844em) {
    .md-typeset div.arithmatex {
        margin: unset;
        overflow: auto;
    }
}

/* 解决代码有滑动窗口问题 */
code {
    scrollbar-width: none !important;
}

/* 行内代码左右两边间距大一点 */
p code,
summary code {
    /* border-radius: 0.25rem !important; */
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

/*图片的字体不要斜体*/
.md-typeset figcaption {
    font-style: unset;
}
